<script src="../static/quiz.js"></script>{% extends "layout.html" %}

{% block content %}
  <div class="qz-container">
    <h2> Multiple Choice Quiz: Question {{ qnum + 1 }} of {{ total }}</h2>

    <div class="qz-question-box">
      {% if question.media %}
        <div class="qz-audio-wrapper">
          <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="{{ question.media }}"></iframe>
          <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
        </div>
          
        </div>
      {% endif %}

      <div class="qz-question-text">
        <p><strong>{{ question.question }}</strong></p>
      </div>

      <form method="post" id="quiz-form">
        <div class="qz-options">
          {% for opt in question.options %}
            <div class="qz-option">
              <label>
                <input type="radio" name="option" value="{{ opt }}" required> {{ opt }}
              </label>
            </div>
          {% endfor %}
        </div>

        </div>
        <div class="navigation-buttons">
          {% if qnum > 0 %}
            <a href="{{ url_for('quiz', qnum=qnum - 1) }}" class="btn btn-primary" id="prev-quiz">Previous</a>
          {% endif %}
          <button type="submit" class="btn btn-primary" id="next-quiz">Next</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
