#footer {
    position: fixed;
    bottom: 0px;
    text-align: right;
    width: 100%;
}
.navbar-brand{
  background-color:#7D1C4A;
  color: lightgrey;
}
.navbar {
    background-color: #7D1C4A !important;
}

.navbar .nav-link,
.navbar .navbar-brand {
    color: lightgrey !important;
}
.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
    color: darkgrey !important;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color: lightgrey;
}

.qz-container {
  width: 70%;
  margin: auto;
}

.qz-question-box {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}

.qz-audio-wrapper {
  position: relative;
  width: 300px;
  height: 170px;
  flex-shrink: 0;
}

.qz-audio-wrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.qz-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  border: 1px solid #ddd;
}

.qz-overlay img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.qz-overlay span {
  font-weight: bold;
  color: #333;
  font-size: 14px;
}

.qz-question-text {
  flex: 1;
  margin-left: 20px;
}

.qz-options {
  margin-top: 10px;
}

.qz-option {
  margin: 10px 0;
}

.qz-button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.qz-button:hover {
  background-color: #7D1C4A;
}

.qz-button-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  padding: 0 20px;
  width: calc(100% - 40px);
}

.qz-prev-btn .qz-button,
.qz-next-btn .qz-button {
  background-color: white;
  border: 1px solid black;
}

.qz-prev-btn .qz-button:hover,
.qz-next-btn .qz-button:hover {
  background-color: #7D1C4A;
}

.qz-match-container {
  width: 80%;
  margin: 50px auto;
}

.qz-match-box {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  min-height: 500px;
  position: relative;
}

.qz-match-audio-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.qz-match-audio-wrapper iframe {
  width: 60%;
  height: 200px;
  border: none;
}

.qz-match-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.qz-match-overlay img {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
}

.qz-match-overlay span {
  font-weight: bold;
  color: #333;
  font-size: 14px;
}

.qz-match-question-text {
  padding: 20px 0;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  flex-grow: 1;
  margin-left: 20px;
}

.qz-draggable-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 80px;
  width: 90%;
}

.qz-draggable-box {
  width: 100px;
  height: 50px;
  background-color: #f2f2f2;
  border: 2px solid #ccc;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  cursor: move;
  margin-top: 20px;
}

.qz-drop-area {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.qz-drop-box {
  width: 100px;
  height: 50px;
  background-color: #e0e0e0;
  border: 2px dashed #ccc;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.qz-drop-box:hover {
  background-color: #c9ffbc;
}

.qz-submit-btn {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: -60px;
  right: 20px;
}

.qz-submit-btn:hover {
  background-color: #7D1C4A;
}

.qz-button-container button:hover {
  background-color: #7D1C4A;
}

.qz-draggable-box:active {
  opacity: 0.5;
}

.qz-draggable-container {
  width: 100%;
  justify-content: space-evenly;
  position: relative;
  margin-top: 90px;
}
.btn-primary {
    background-color:#7D1C4A !important;
    border-color:#7D1C4A !important;
    color: lightgrey !important;
}


.btn-primary:hover {
    color: darkgrey !important;
    background-color: #56021F !important;
    border-color: #56021F !important;
}

