<!-- HOME.HTML -->
{% extends "layout.html" %}

{% block content %}

<h1>Polyrhythm Trainer 🥁</h1>


<div style="text-align: center; margin-bottom: 20px;">
    <button id="start-learning" class="btn btn-primary">Start Learning</button>
    <button id="start-quiz" class="btn btn-primary">Start Quiz</button>

</div>

<div style="text-align: center;">
    <img src="https://avatars.mds.yandex.net/get-shedevrum/11425623/img_0779e920eb1d11eeb2bc9a79ffaf5bd2/orig"
         alt="Drumming Illustration"
         style="max-width: 25%; height: auto;">
    <p class="home-text">Do you find learning polyrhythms difficult? If so, you’ve come to the right place! A polyrhythm occurs when two or more very different rhythms are played at the same time. These rhythms happen within a shared rhythmic cycle.</p>
</div>

<script>
    $(document).ready(function() {
        // Reset progress bar when on home page
        $('.progress-bar').css('width', '0%');
        $('#step-labels').empty();
    });
</script>

{% endblock %}
