<!-- LEARN.HTML -->
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
{% extends "layout.html" %}

{% block content %}

<h1>Lets learn!</h1>
<h1>Lesson: {{current_lesson.title}}</h1>

<!-- <button id="prev-lesson">Previous lesson</button>
<button id="next-lesson">Next lesson</button> -->
<div class="lesson-content">
    <!-- VIDEO -->
    <div class="video-container">
        <iframe width="560" height="315" src="{{current_lesson.video_link.replace('youtu.be', 'www.youtube.com/embed')}}" frameborder="0" allowfullscreen></iframe>
    </div>
    <p>{{current_lesson.text}}</p>
</div>
<div class="navigation-buttons">
    {% if prev_lesson %}
        <a href="/learn/{{prev_lesson.id}}" class="btn btn-primary" id="prev-lesson">Previous lesson</a>
    {% endif %}

    {% if next_lesson %}
        <a href="/learn/{{next_lesson.id}}" class="btn btn-primary" id="next-lesson">Next lesson</a>
    {% else %}
        <a href="/quiz" class="btn btn-success">Take Quiz</a>
    {% endif %}
</div>

{% endblock %}
